*
{
    margin: 0;
    padding: 0;
}
html
{
    font-family: 'Josefin Sans','sans','Helvetica';
}
cover
{
    background-image: url("../media/giphy.gif");
	/*PARALLAX SCROLLING*/
	background-attachment:fixed;
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	color:white;
	display:block;
    height:100vh;
}
/*front page*/
cover h1
{
    padding: 10% 0 0 5%;
	font-size: 5em;
	/*text stroke effect*/
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
}/* 
#fname
{
    transform: rotate(-30deg);
    width: 1%;
    position: absolute;
    top:20%;
    left: 40%;
}
#lname
{
    transform: rotate(-30deg);
    width: 1%;
    position: absolute;
    top: 55%;
    left: 5%;

} */
#icons
{
    position: absolute;
    bottom: 4%;
    right: 8%;
    color: white;
}
#icons i:hover
{
    text-decoration: red underline;
}
#slider1
{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height:3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: height .5s;
    -webkit-transition: height .5s; /* For Safari 3.1 to 6.0 */
    z-index: 2;
}
.pulse
{
    /*background-color: #073642;*/
    color: black;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pulse 
{
    0% {
      background-color: white;
    }
    50% {
      background-color: black;
    }
    100% {
      background-color: white;
    }
  }
#slider1:hover
{
    background-color: whitesmoke;
    color:black;
}
#slider1.active
{
    background-color: whitesmoke;
    color: black;
    height: 100%;
}
#open
{
    height: 4.1%;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;

    background: none;
    border: none;
    font: inherit;
    outline: inherit;
}
/*inner slider*/
#content
{
    display:none;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
/*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr
*/
}
.box h2
{
    font-size: 4em;
}
.box .body
{
    height: 0vh;
    overflow: auto;
    transition: height .5s;
    -webkit-transition: height .5s; /* For Safari 3.1 to 6.0 */
}
/*hover all .box except hovering .title 's*/
.box:hover > .title:not(:hover)
{
    text-decoration: red underline;
}
.title:hover
{
    text-decoration: red underline;
}
.title:hover + .body
{
    height:56vh;
    padding-top: 20px;
}
.body:hover
{
    height:56vh;
    padding-top: 20px;
}
/*scroll styles*/
/* width */
::-webkit-scrollbar 
{
    width: 5px;
    background:black;
    border-radius:5px;
}
/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
   
/* Handle */
::-webkit-scrollbar-thumb
{
    background: red; 
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #b30000; 
}

/*
.box > *
{
    display: none;
    ^^^reverting to display:block everything in box
     a makes the height transition above useless
}
*/
.title
{
    display: block;
    cursor: pointer;
}
#side
{
    display: 'none';
    position: absolute;
    top: 5%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
/*about*/


/*projs wrapper*/
#projGroup
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*individual projs*/
.proj {
    position: relative;
    margin: 1em 1em;
    /*
    float:left;
    width:29.9%;*/
    height:auto;
  }
  
  .proj img{
      height:auto;
      width:100%;
      border-radius:15px;
  }
  
  .overlay {
    position: absolute;
    top:0 ;
    left: 0%;
    bottom:0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    border-radius:15px;
  }
  
  .proj:hover .overlay {
    opacity: .8;
  }
  
  .caption {
    text-decoration:none;
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width:90%;
  }
  .leftIcon
{
	position: absolute;
	bottom:5%;
	left:15%;
	color:rgb(3, 148, 245);
	transform: translateY(-10%);
	transition: .5s;
}
.rightIcon
{
	position: absolute;
	bottom:6%;
	right:15%;
	color: cyan;

	transform: translateY(-10%);/*hover animations*/
	transition: .5s;
}
.rightIcon:hover,.leftIcon:hover
{
	padding-bottom:5%;
}

/*contact*/
.info
{
    display: grid;
    grid-template-columns:  1fr 1fr;
}
input, textarea
{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}